/*change the font later this one is gross*/
body {
    font-family: 'Space Mono', monospace;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; /*vertical center*/
    align-items: center; /*horizontal center*/
    min-height: 100vh; 
    background-color: #93707b;
    text-align: center; 
}
h1 {
    font-family: 'Space Mono', monospace; 
    font-weight: 700; /* Bold */
    font-size: 2.5rem; 
}


/*navigation bar */
nav a {
    text-decoration: none;
    color: #ffe3ebba;
    margin: 0 10px;
    font-weight: 500;
}

nav a:hover {
    color: #f9bae1; 
}

canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}
ul li{
    margin-bottom: 15px
}
ul li a {
    text-decoration: none;
    color: inherit;
}
ul li a:hover {
    text-decoration: none;
    color: #f9bae1;
}
